/* cross line data row in the table */
table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}


tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

/* .unselectable{
    background-color: #ddd;
    cursor: not-allowed;
  } */


/* cell in the table row  */
/* tr.strikeout{
    text-decoration: line-through;
} */


.modal-lg {
    max-width: 70% !important;
}