<h4 *ngIf="errorMsg" style="color:red"><i class="fas fa-exclamation-circle"></i> {{errorMsg}}</h4>
<ngx-spinner color="#f97924"></ngx-spinner>

<div class="card mx-auto col-lg-6 col-sm-6">
  <div class="card-body">
    <h4 class="card-title">Forgot Password</h4>
    <hr class="bar">
    <form class="forms-sample" [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">

      <div class="form-group">
        <label for="email">Will send you Email after you click reset password</label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email address">
        <em *ngIf="email.invalid && email.touched">Required</em>
      </div>

      <div class="center-block">
        <!-- <button type="submit" class="btn btn-success mr-2">Login</button> -->
        <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="forgotPasswordForm.invalid">Reset
          password</button>
      </div>


    </form>

  </div>
</div>