
<legend>Form Name</legend>

<div class="row">
    <div class="col-xs-12 col-md-3"> col1
            <label class="control-label" for="textinput">Text Input</label> 
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
        
    </div>
    <div class="col-xs-12 col-md-3"> col2
            <label class="control-label" for="textinput">Text Input</label> 
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
    </div>
    <div class="col-xs-12 col-md-3"> col1
            <label class=" control-label" for="textinput">Text Input</label> 
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
        
    </div>
    <div class="col-xs-12 col-md-3"> col2
            <label class=" control-label" for="textinput">Text Input</label> 
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
    </div>
</div>