<h4>{{ errorMsg }}</h4>
<ngx-spinner color="#f97924"></ngx-spinner>
<h4>Add vehicle</h4>
<hr>
<form [formGroup]="vehicleForm">

  <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label">vehicle Id</label>
        <input type="text" class="form-control" formControlName="vehicleId" />
      </div>
    </div>

    <div class="col-md-3 col-lg-3">
      <div class="form-group">
        <label class="control-label">Vehicle Type</label>
        <input type="text" class="form-control" formControlName="vehicleType" />
      </div>
    </div>

  </div>

</form>
<hr>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <button class="btn btn-success" style="margin-right: 50px;" (click)="saveClick()">Save</button>
    <button class="btn btn-default" style="margin-right: 50px;" (click)="clearFrom()">Clear</button>
    <button class="btn btn-danger" (click)="deleteVehicle()">Delete</button>
  </div>
</div>
<hr>
<ez-vehicleslist [vehicle]="vehicleForm" (selectedVehicle)='onVehicleRowClicked($event)'></ez-vehicleslist>