<form [formGroup]="actionsForm" *ngIf="bol">

  <div class="row" style="padding: 5px;">
    <div class="col-xs-12 col-md-3">
      <label class=" control-label" for="textinput">BOL Number</label>
      <input id="textinput" name="textinput" type="text" value="{{bol.bolNumber}}" disabled
        class="form-control input-md">
    </div>
    <div class="col-xs-12 col-md-3">
      <label class=" control-label" for="textinput">Pickup Location</label>
      <input id="textinput" name="textinput" type="text" value="{{bol.pickupLocation.locationName}}" disabled
        class="form-control input-md">
    </div>
    <div class="col-xs-12 col-md-3">
      <label class=" control-label" for="textinput">Delivery Location</label>
      <input id="textinput" name="textinput" type="text" value="{{bol.deliveryLocation.locationName}}" disabled
        class="form-control input-md">
    </div>

    <div class="col-xs-12 col-md-3">
      <label class=" control-label" for="textinput">Submitted Date</label>
      <input id="textinput" name="textinput" type="text" value="{{bol.submittedDate | date :'short'}}" disabled
        class="form-control input-md">
    </div>



  </div>

  <div class="row" style="padding: 5px;">

    <div class="col-xs-12 col-md-3">
      <label class=" control-label" for="textinput">Driver</label>
      <select formControlName="driver" class="custom-select">
        <option value=""></option>
        <option *ngFor="let d of drivers" [ngValue]="d.driverId">
          {{d.firstName}} {{d.lastName}}
        </option>
      </select>
    </div>


    <div class="col-xs-12 col-md-3">
      <label class=" control-label" for="textinput">Expidate</label>
      <div>
        <!-- <i [ngClass]="{'fa fa-1x fa-shipping-fast':bol.expidate}" style="color:red"></i> -->
        <i *ngIf="bol.expidate">YES</i>
        <i *ngIf="!bol.expidate">NO</i>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <label class="control-label" for="textinput">CrossDockAddress</label>
      <input formControlName="crossDockAddress" class="form-control">
    </div>


    <!-- <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-12 col-md-3"></div> -->

  </div>

  <!-- <div class="row"
    style="border:solid;border-width: thin; padding: 5px; align-content: center; border-color: lightskyblue;border-radius: 25px;"> -->

  <!-- <div class="col-xs-4 col-md-4">
      <label class="control-label" for="textinput">pickup Arrival</label>
    </div>
    <div class="col-xs-4 col-md-4">
      <label class="switch">
        <input type="checkbox" formControlName="pickupArrival" (change)="pickedup()">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="col-xs-4 col-md-4">
      <strong *ngIf="bol" style="text-align: right;">{{bol.pickupArrivalDate | date :'short'}} </strong>
    </div> -->
  <!-- </div> -->

  <div class="row" id="rowgroup">

    <div class="col-xs-12 col-md-4">
      <label class="control-label" for="textinput">Dispatch Time</label>
      <!-- <input id="dispatchTime" type="datetime-local"  class="form-control" formControlName="dispatchTime" id="dispatchTime" value="{{bol.dispatchTime}}" /> -->
      <input type="text" id="dispatchTime" class="form-control" formControlName="dispatchTime"
        (click)="getDefaultTime('dispatchTime')" />
    </div>

    <div class="col-xs-12 col-md-4">
      <label class="control-label" for="textinput">Pickup Arrival Time</label>
      <input type="text" class="form-control" formControlName="pickupArrivalDate"
        (click)="getDefaultTime('pickupArrivalDate')" />
    </div>

    <div class="col-xs-12 col-md-4">
      <label class="control-label" for="textinput">Pickup Departure Time</label>
      <!-- type="datetime-local" -->
      <input type="text" id="pickupDepartureDate" class="form-control" formControlName="pickupDepartureDate"
        (click)="getDefaultTime('pickupDepartureDate')" />
    </div>

  </div>
  <br>
  <div class="row" id="rowgroup">

    <div class="col-xs-12 col-md-4">
      <label class="control-label" for="textinput">Delivery Arrival Date</label>
      <input type="text" id="deliveryArrivalDate" class="form-control" formControlName="deliveryArrivalDate"
        (click)="getDefaultTime('deliveryArrivalDate')" />
    </div>

    <div class="col-xs-12 col-md-4">
      <label class="control-label" for="textinput">Received Time</label>
      <!-- <input id="dispatchTime" type="text"  class="form-control" formControlName="dispatchTime" id="dispatchTime" value="{{bol.dispatchTime}}" /> -->
      <input type="text" id="receivedDate" class="form-control" formControlName="receivedDate"
        (click)="getDefaultTime('receivedDate')" />
    </div>

    <div class="col-xs-12 col-md-4">
      <label class="control-label" for="textinput">Received By</label>
      <input formControlName="receivedBy" class="form-control">
    </div>

  </div>
  <br>

  <div class="row" id="rowgroup">
    <div class="col-xs-12 col-md-2">
      <label for="textarea" class="control-label">Completed BOL</label>
    </div>
    <div class="col-xs-12 col-md-2">
      <label class="switch">
        <input type="checkbox" formControlName="completed" (change)="completedBol()">
        <span class="slider round"></span>
      </label>
    </div>


    <div class="col-xs-12 col-md-2">
      <label class=" control-label" for="textinput">Completed Date</label>
    </div>
    <div class="col-xs-12 col-md-6">
      <input id="textinput" name="textinput" formControlName="completedDate" type="text" value="{{bol.completedDate}}"
        disabled class="form-control input-md">
    </div>

  </div>


  <br>

  <div class="row" id="rowgroup">
    <div class="col-xs-12 col-md-2">
      <label for="textarea" class="control-label">Cancel BOL</label>
    </div>
    <div class="col-xs-12 col-md-2">
      <label class="switch">
        <input type="checkbox" formControlName="canceled" (change)="cancelBol()">
        <span class="slider round"></span>
      </label>
    </div>


    <div class="col-xs-12 col-md-2">
      <label class=" control-label" for="textinput">Canceled Date</label>
    </div>
    <div class="col-xs-12 col-md-6">
      <input id="textinput" name="textinput" type="text" value="{{bol.canceledDate}}" disabled
        class="form-control input-md">
    </div>

  </div>

  <div class="row" style="padding: 5px;">
    <div class="col-xs-12 col-md-12">
      <label class="control-label" for="textinput">User Comment</label>
      <textarea formControlName="userComment" cols="40" rows="2" class="form-control"></textarea>
    </div>
  </div>

  <div class="row" style="padding: 5px;">
    <div class="col-xs-12 col-md-12">
      <label class="control-label" for="textinput">Dispatcher Comment</label>
      <textarea formControlName="dispatcherComment" cols="40" rows="2" class="form-control"></textarea>
    </div>
  </div>

</form>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="dismissModal()">Close</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="saveChanges()">Save changes</button>
</div>