<button id="showToastrBtn" type="button" (click)="showToastr()">toastr test</button>
<button>Delete <i class="fas fa-trash-alt" style="color:red"></i></button>
<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <canvas id="myChart" width="100" height="100"></canvas>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div>

</div>
<!-- <ez-bol-form [bol]="bol" (btnClick)="clickToGetBolFormData($event)"></ez-bol-form> -->