<button id="showToastrBtn" type="button" (click)="showToastr()">toastr test</button>

<button>Delete <i class="fas fa-trash-alt" style="color:red"></i></button>
<br>



<div class="row">
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    <ez-chart [chartData]="chartData" [chartType]="'bar'"></ez-chart>
  </div>
  <div class="col-sm">
    <ez-chart [chartData]="chartData" [chartType]="'pie'"></ez-chart>
  </div>
</div>
<!-- <ez-bol-form [bol]="bol" (btnClick)="clickToGetBolFormData($event)"></ez-bol-form> -->