<div class="panel-header panel-header-lg">
  <canvas #myChart class="my-4 chartjs-render-monitor" id="myChart"
    style="display: block; height: 200px; width: 1018px; "></canvas>
</div>
<!-- height: 200px; width: 1018px; -->

<div class="row">
  <div class="col-md-3">
    One of three columns
  </div>
  <div class="col-md">
    <ez-chart [chartData]="chartData" [chartLabels]="cahrt_Labels" [chartType]="'bar'"></ez-chart>
  </div>
  <div class="col-md">
    <ez-chart [chartData]="chartData" [chartLabels]="cahrt_Labels" [chartType]="'pie'"></ez-chart>
  </div>
</div>


<!-- <ez-bol-form [bol]="bol" (btnClick)="clickToGetBolFormData($event)"></ez-bol-form> -->