<div class="table-responsive row-border hover" style="width: 100%">
  <table class="table table-striped table-sm" *ngIf="items.length!=0">
    <thead>
      <tr>
        <th>Idx</th>
        <th>Part Info.</th>
        <th>container Type</th>
        <th>PBG</th>
        <th>QTY</th>
        <th>Pieces Count</th>
        <th>Blanket On</th>
        <th>Haz-Mat</th>
        <th>Shocked Watch</th>
        <th>Damage</th>
        <th></th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- | async -->
      <tr *ngFor="let i of items; let idx=index">
        <!-- <td>
              <a  routerLink="['/boldetails',bol.bolId]">{{bol.bolId}}</a>
            </td> -->
        <td>{{idx+1}}</td>
        <td>{{i.partInfo}}</td>
        <td>{{i.container.containerType}}</td>
        <td>{{i.pbg.pbgType}}</td>
        <td>{{i.qty}}</td>
        <td>{{i.piecesCount}}</td>
        <td>{{i.blanketOn}}</td>
        <td>{{i.hazMat}}</td>
        <td>{{i.shockedWatch}}</td>
        <td>{{i.damage}}</td>
        <td style="color:green">Edit</td>
        <!-- <td style="color:red"><span class="glyphicon glyphicon-trash"></span></td> -->
        <td modal-trigger="deleteItemModal" (click)="showDeleteItemModal(i.itemId,idx)">
          <i class="fas fa-trash-alt" style="color:red"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!--Add item modal dilog -->
<!-- <simple-modal elementId="addItemModal" title="Add Item">
    <ez-additem [bol]="bolForm" (addItemEvent)="pushAddedItem($event)"></ez-additem>
  </simple-modal> -->

<simple-modal elementId="deleteItemModal" title="Delete Item">
  <div>
    <div>Are you sure want to delete this Item?</div>
  </div>
  <div class="modal-footer">
    <!-- (click)="deleteItem()" -->
    <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">Yes (Delete)</button>
    <button type="button" class="btn btn-xs btn-secondary" data-dismiss="modal">NO</button>
  </div>
</simple-modal>